# Idea project files
*.iml
.idea/

# Gradle files
out/
build/
.gradle/
/gradle/caches/
/gradle/daemon/
/gradle/native/
/gradle/wrapper/dists/

# Generated sources
src/generated

# OS specific
.DS_Store

#node
node_modules/
jspm_packages/
dist/
/src/test/kotlin/io/nais/security/oauth2/token/TokenVerifyTest.kt
/.nais/k8s.secrets.yml
/.nais/k8s.private_jwks.secrets.yml
/.nais/jwker-jwks.json
/src/test/kotlin/io/nais/security/oauth2/integration/SimulateOAuth2Client.kt
/.nais/prod.k8s.private_jwks.secrets.yml
/.nais/prod.k8s.secrets.yml
/src/test/kotlin/io/nais/security/oauth2/config/EnvConfigurationTest.kt
